/*-----------------------------------
- Global Variables
-----------------------------------*/

:root {
	/* Color Palette */
	--color-white: #fff;
	--color-gray-lightest: #ddd;
	--color-gray-lighter: #ccc;
	--color-gray-light: #aaa;
	--color-gray: #999;
	--color-gray-dark: #666;
	--color-gray-darker: #333;
	--color-gray-darkest: #111;
	--color-black: #000;
	--color-purple-lightest: #f9f2ff;
	--color-purple-light: #b66fe5;
	--color-purple: #9257b9;
	--color-purple-dark: #7935a6;
	--color-purple-darkest: #49136d;
	--color-red: #da2525;

	/* Font Sizes */
	--font-size-h1: 2.625rem; /* 42px */
	--font-size-h2: 2.25rem; /* 36px */
	--font-size-h3: 1.75rem; /* 28px */
	--font-size-h4: 1.5rem; /* 24px */
	--font-size-h5: 1.3125rem; /* 21px */
	--font-size-h6: 1.125rem; /* 18px */
	--font-size-p: 1rem; /* 16px */
	--font-size-small: 0.75rem; /* 12px */

	/* Line Heights */
	--line-height-large: 1.5;
	--line-height-medium: 1.333;
	--line-height-small: 1.125;

	/* Container Sizes */
	--container-large: 1600px;
	--container-medium: 1140px;
}

@media all and (min-width: 1025px) {
	:root {
		--font-size-h1: 4rem; /* 64px */
		--font-size-h2: 3rem; /* 48px */
		--font-size-h3: 2.25rem; /* 36px */
		--font-size-h4: 1.75rem; /* 28px */
		--font-size-h5: 1.5rem; /* 24px */
		--font-size-h6: 1.3125rem; /* 21px */
		--font-size-p: 1.125rem; /* 18px */
		--font-size-small: 0.875rem; /* 14px */
	}
}

/*-----------------------------------
- General Styles
-----------------------------------*/

body {
	position: relative;
	background-color: var(--color-purple-lightest);
	font-family: 'Ubuntu', 'Tahoma', sans-serif;
	font-size: var(--font-size-p);
	color: var(--color-gray-darker);
	line-height: var(--line-height-large);
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
	font-weight: 700;
}

h1, h2, h3 {
	line-height: var(--line-height-small);
	letter-spacing: -0.025em;
}

h4, h5, h6 {
	line-height: var(--line-height-medium);
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

h6 {
	font-size: var(--font-size-h6);
}

p {
	margin-bottom: 20px;
}

p:last-child {
	margin-bottom: 0;
}

small {
	font-size: var(--font-size-small);
	color: var(--color-gray-dark);
}

a {
	color: var(--color-purple-dark);
	text-decoration: underline;
	transition: color 300ms ease;
}

a:hover, a:focus {
	color: var(--color-purple-darkest);
}

@media all and (min-width: 1025px) {
	h1, h2, h3 {
		margin-bottom: 30px;
	}
}

/*-----------------------------------
- Utilities
-----------------------------------*/

.sr-only {
	position: absolute;
	left: -10000px;
	top:auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/*-----------------------------------
- Containers
-----------------------------------*/

.container {
	--container-width: var(--container-medium);

	width: 100%;
	max-width: var(--container-width);
	margin: 0 auto;
	padding-inline: 20px;
}

.container-large {
	--container-width: var(--container-large);
}

.buttons-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

/*-----------------------------------
- Buttons
-----------------------------------*/

.button {
	--border-color: var(--color-purple-light);
	--background-color: var(--color-purple-light);
	--color: var(--color-white);
	--hover-border-color: var(--color-purple);
	--hover-background-color: var(--color-purple);
	--hover-color: var(--color-white);

	display: inline-block;
	border: 2px solid var(--border-color);
	border-radius: 7px;
	padding: 10px 20px;
	background-color: var(--background-color);
	font-weight: 500;
	color: var(--color);
	appearance: none;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	transition: border-color 300ms ease,
		background-color 300ms ease,
		color 300ms ease;
}

.button.button-secondary {
	--background-color: var(--color-white);
	--color: var(--color-purple-dark);
}

.button:hover, .button:focus {
	border-color: var(--hover-border-color);
	background-color: var(--hover-background-color);
	color: var(--hover-color);
}

.button.button-large {
	padding: 15px 20px;
	font-size: var(--font-size-h6);
}

@media all and (min-width: 1025px) {
	.button {
		padding-block: 15px;
	}

	.button-large {
		border-radius: 10px;
		border-width: 3px;
		padding: 20px 30px;
		font-size: var(--font-size-h5);
	}
}

/*-----------------------------------
- Form Elements
-----------------------------------*/

.form-control {
	margin-bottom: 20px;
}

.form-control > label {
	display: block;
	margin-bottom: 10px;
	font-weight: 500;
}

.form-control input[type="text"],
.form-control textarea {
	display: block;
	width: 100%;
}

input[type="text"],
textarea {
	border: 2px solid var(--color-gray-light);
	border-radius: 7px;
	padding: 10px 20px;
	appearance: none;
}

input::placeholder,
textarea::placeholder {
	color: var(--color-gray-dark);
}

textarea {
	height: 150px;
	resize: none;
}

button:not([disabled]) {
	cursor: pointer;
}

dialog input[type="text"],
dialog textarea,
dialog .button {
	padding-block: 10px;
}

@media all and (min-width: 1025px) {
	input[type="text"],
	textarea {
		padding-block: 15px;
	}
}


/*-----------------------------------
- Dialog Boxes/Modal Windows
-----------------------------------*/

dialog {
	--close-icon-size: var(--font-size-h6);

	width: 500px;
	max-width: calc(100% - 40px);
	margin: auto;
	border: none;
	border-radius: 10px;
	background-color: var(--color-white);
	color: inherit;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
	z-index: 100;
}

dialog h2 {
	margin-bottom: 10px;
	padding-right: calc(var(--close-icon-size) + 20px);
	font-size: var(--font-size-h3);
}

.dialog-close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	width: var(--close-icon-size);
	height: var(--close-icon-size);
	border: none;
	padding: 0;
	background: none;
	font-size: var(--close-icon-size);
	line-height: 1;
	color: var(--color-gray-darker);
	text-indent: -9999rem;
	overflow: hidden;
	appearance: none;
	transition: color 300ms ease;
}

.dialog-close-button::before {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '\f00d';
	font-family: 'Font Awesome 7 Free';
	font-weight: 700;
	text-indent: 0;
	transform: translate(-50%, -50%);
}

.dialog-close-button:hover,
.dialog-close-button:focus {
	color: var(--color-purple);
}


/*-----------------------------------
- Details and Summary (Accordions)
-----------------------------------*/

p + details {
	margin-top: 30px;
}

details {
	background-color: var(--color-white);
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16);
}

details:last-child {
	margin-bottom: 0;
}

details > h3 {
	margin-bottom: 10px;
	font-size: var(--font-size-h6);
}

summary {
	--summary-icon-size: var(--font-size-h5);

	position: relative;
	padding-right: calc(var(--summary-icon-size) + 10px);
	list-style: none;
	cursor: pointer;
}

summary::after {
	content: '\f054';
	position: absolute;
	top: 50%;
	right: 0;
	font-family: 'Font Awesome 7 Free';
	font-size: var(--summary-icon-size);
	font-weight: 700;
	color: var(--color-purple);
	line-height: 1;
	transform: translateY(-50%) rotate(0deg);
	transition: transform 300ms ease;
}

summary h2 {
	font-size: var(--font-size-h5);
	line-height: var(--line-height-medium);
	letter-spacing: 0em;
}

details:not([open]) summary h2 {
	margin-bottom: 0;
}

details[open] summary::after {
	transform: translateY(-50%) rotate(90deg);
}

details[open] summary h2 {
	margin-bottom: 10px;
}

@media all and (min-width: 1025px) {
	p + details {
		margin-top: 40px;
	}

	details {
		border-radius: 20px;
	}

	details > h3 {
		margin-bottom: 20px;
	}

	details[open] summary h2 {
		margin-bottom: 20px;
	}
}

/*-----------------------------------
- Site Header
-----------------------------------*/

#navigation-bar {
	padding-block: 20px;
}

#navigation-bar .container {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 20px;
}

#navigation-bar .site-logo {
	height: 40px;
}

#site-navigation {
	margin-left: auto;
}

#navigation-menu {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
}

#navigation-menu a {
	position: relative;
	font-size: var(--font-size-h6);
	font-weight: 500;
	color: var(--color-gray-darker);
	text-decoration: none;
}

#navigation-menu a:hover,
#navigation-menu a:focus {
	color: var(--color-purple);
}

#navigation-menu li.active a::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: -5px;
	left: 0;
	height: 1px;
	background-color: var(--color-gray-darker);
	transition: background-color 300ms ease;
}

#navigation-menu li.active a:hover::after,
#navigation-menu li.active a:focus::after {
	background-color: var(--color-purple);
}

#navigation-toggle {
	--bars-gap: 5px;

	display: flex;
	flex-direction: column;
	gap: var(--bars-gap);
	border: none;
	padding: 0;
	background: none;
	appearance: none;
}

#navigation-toggle span {
	display: block;
	width: 30px;
	height: 4px;
	border-radius: 5px;
	background-color: var(--color-gray-darker);
	transition: transform 300ms ease;
}

#navigation-toggle.active span:first-child {
	transform: translateY(calc(var(--bars-gap) + 100%)) rotate(45deg); /* Push the bar down to the center (location of the 2nd bar), then rotate it */
}

#navigation-toggle.active span:nth-child(2) {
	opacity: 0;
}

#navigation-toggle.active span:last-child {
	transform: translateY(calc((var(--bars-gap) * -1) - 100%)) rotate(-45deg); /* Pull the bar up to the center (location of the 2nd bar), then rotate it */
}

@media all and (min-width: 1025px) {
	#navigation-bar {
		padding-block: 40px;
	}

	#navigation-bar .site-logo {
		height: 54px;
	}

	#navigation-menu {
		display: flex;
		gap: 20px 30px;
	}

	#navigation-toggle {
		display: none;
	}
}

/*-----------------------------------
- Site Footer
-----------------------------------*/

#site-footer {
	margin-top: 40px;
	padding-inline: 20px;
	text-align: center;
}

#site-footer .container {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	padding: 20px 0;
}

#site-footer a {
	font-weight: 500;
	color: var(--color-gray-darker);
	text-decoration: none;
}

#site-footer a:hover,
#site-footer a:focus {
	color: var(--color-purple);
}

#site-footer p {
	margin-top: 20px;
}

@media all and (min-width: 1025px) {
	#site-footer {
		margin-top: 80px;
	}

	#site-footer .container {
		padding-block: 40px;
	}

	#site-footer p {
		margin-top: 30px;
	}
}

/*-----------------------------------
- Hero Area
-----------------------------------*/

#page-hero {
	padding-inline: 20px;
	font-size: var(--font-size-h6);
	text-align: center;
}

#page-hero .container-large {
	display: flex;
	align-items: center;
	min-height: 80vh;
	border-radius: 10px;
	padding: 50px 0;
	background-color: var(--color-white);
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
}

#page-hero .buttons-container {
	margin-top: 20px;
}

@media all and (min-width: 1025px) {
	#page-hero {
		font-size: var(--font-size-h5);
	}

	#page-hero .container-large {
		border-radius: 20px;
		box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.16);
	}

	#page-hero .buttons-container {
		margin-top: 30px;
	}
}

/*-----------------------------------
- Sections
-----------------------------------*/

.page-section {
	margin-top: 50px;
}

.page-section .container > * + h2,
.page-section .container > * + h3 {
	margin-top: 30px;
}

@media all and (min-width: 1025px) {
	.page-section {
		margin-top: 100px;
	}

	.page-section .container > * + h2,
	.page-section .container > * + h3 {
		margin-top: 40px;
	}
}

/*-----------------------------------
- Flashcards Page
-----------------------------------*/

#flashcards-section .page-actions {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 300px;
	margin-inline: auto;
}

#flashcards-section .page-actions .button {
	order: -1;
}

#flashcards-section .page-actions input[type="text"] {
	width: 100%;
}

#flashcard-sets,
#flashcards {
	--columns: 1;
	--gap: 20px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--gap);
	list-style: none;
	margin-top: 40px;
	padding: 0;
}

#flashcard-sets .flashcard-set,
#flashcards .flashcard {
	width: calc((100% / var(--columns)) - ((var(--columns) - 1) * var(--gap) / var(--columns))); /* Calculate the width of the items based on how many columns should be displayed and the gap between them */
}

.flashcard-set,
.flashcard dl {
	align-content: center;
	border-radius: 10px;
	padding: 60px 20px 20px;
	background-color: var(--color-white);
	text-align: center;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
}

.flashcard-set::before,
.flashcard dt::before,
.flashcard dd::before {
	--size: 30px;

	display: inline-block;
	width: var(--size);
	height: var(--size);
	margin-bottom: 10px;
	border-radius: 50%;
	background-color: var(--color-purple);
	font-family: 'Font Awesome 7 Free';
	font-weight: 700;
	color: var(--color-white);
	line-height: var(--size);
}

.flashcard-set .set-actions,
.flashcard .card-actions {
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	gap: 20px;
	text-align: left;
	z-index: 100;
}

.flashcard-set .set-actions button,
.flashcard .card-actions button {
	border: none;
	padding: 0;
	background: none;
	font-weight: 500;
	color: var(--color-purple);
	transition: color 300ms ease;
	appearance: none;
}

.flashcard-set .set-actions button:hover,
.flashcard-set .set-actions button:focus,
.flashcard .card-actions button:hover,
.flashcard .card-actions button:focus {
	color: var(--color-purple-dark);
}

.flashcard-set {
	position: relative;
	min-height: 250px;
}

.flashcard-set::before {
	content: '\f07b';
}

.flashcard-set h2 {
	margin: 0;
	font-size: var(--font-size-h3);
}

.flashcard {
	position: relative;
	min-height: 450px;
	perspective: 1000px;
}

.flashcard dl,
.flashcard dt,
.flashcard dd,
.flashcard .card-flip-button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.flashcard dl {
	transform-style: preserve-3d;
	z-index: 10;
}

.flashcard dt,
.flashcard dd {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: inherit;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flashcard dt {
	font-size: var(--font-size-h4);
	font-weight: 700;
	line-height: var(--line-height-medium);
	letter-spacing: -0.025em;
	transform: rotateY(0deg);
}

.flashcard dd {
	font-weight: 500;
	transform: rotateY(180deg);
}

.flashcard dt::before {
	content: '\3f';
}

.flashcard dd::before {
	content: '\f0eb';
}

.flashcard .card-flip-button {
	border: none;
	padding: 0;
	background: none;
	appearance: none;
	z-index: 10;
}

.flashcard.flipped dl {
	transform: rotateY(180deg);
}

@media all and (min-width: 481px) {
	#flashcards-section .page-actions {
		flex-direction: row;
		align-items: center;
		max-width: none;
		margin-inline: 0;
	}

	#flashcards-section .page-actions .button {
		order: initial;
	}
}

@media all and (min-width: 769px) {
	#flashcard-sets,
	#flashcards {
		--columns: 2;
	}
}

@media all and (min-width: 1025px) {
	#flashcards-section .section-header {
		--gap: 30px;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 30px;
	}

	#flashcards-section h1,
	#flashcards-section .page-actions {
		max-width: calc(50% - var(--gap) / 2);
	}

	#flashcards-section h1 {
		margin: 0;
		order: -2;
	}

	#flashcards-section .page-actions {
		order: -1;
	}

	.flashcard-set,
	.flashcard dl {
		border-radius: 20px;
		padding: 80px 30px 30px;
	}

	.flashcard-set::before,
	.flashcard dt::before,
	.flashcard dd::before {
		--size: 50px;

		font-size: var(--font-size-h5);
	}

	.flashcard-set {
		min-height: 300px;
	}

	.flashcard {
		min-height: 600px;
	}
}

@media all and (min-width: 1367px) {
	#flashcard-sets,
	#flashcards {
		--columns: 3;
	}
}