/*-----------------------------------
- Global Variables
-----------------------------------*/

:root {
	/* Color Palette */
	--color-white: #fff;
	--color-gray-lightest: #ddd;
	--color-gray-lighter: #ccc;
	--color-gray-light: #aaa;
	--color-gray: #999;
	--color-gray-dark: #666;
	--color-gray-darker: #333;
	--color-gray-darkest: #111;
	--color-black: #000;
	--color-purple-lightest: #f9f2ff;
	--color-purple-light: #b66fe5;
	--color-purple: #9257b9;
	--color-purple-dark: #7935a6;
	--color-purple-darkest: #49136d;
	--color-red: #da2525;

	/* Font Sizes */
	--font-size-h1: 2.625rem; /* 42px */
	--font-size-h2: 2.25rem; /* 36px */
	--font-size-h3: 1.75rem; /* 28px */
	--font-size-h4: 1.5rem; /* 24px */
	--font-size-h5: 1.3125rem; /* 21px */
	--font-size-h6: 1.125rem; /* 18px */
	--font-size-p: 1rem; /* 16px */
	--font-size-small: 0.75rem; /* 12px */

	/* Line Heights */
	--line-height-large: 1.5;
	--line-height-medium: 1.333;
	--line-height-small: 1.125;
}

@media all and (min-width: 1025px) {
	:root {
		--font-size-h1: 4rem; /* 64px */
		--font-size-h2: 3rem; /* 48px */
		--font-size-h3: 2.25rem; /* 36px */
		--font-size-h4: 1.75rem; /* 28px */
		--font-size-h5: 1.5rem; /* 24px */
		--font-size-h6: 1.3125rem; /* 21px */
		--font-size-p: 1.125rem; /* 18px */
		--font-size-small: 0.875rem; /* 14px */
	}
}

/*-----------------------------------
- General Styles
-----------------------------------*/

body {
	background-color: var(--color-purple-lightest);
	font-family: 'Ubuntu', 'Tahoma', sans-serif;
	font-size: var(--font-size-p);
	color: var(--color-gray-darker);
	line-height: var(--line-height-large);
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
	font-weight: 700;
}

h1, h2, h3 {
	line-height: var(--line-height-small);
	letter-spacing: -0.025em;
}

h4, h5, h6 {
	line-height: var(--line-height-medium);
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

h6 {
	font-size: var(--font-size-h6);
}

p {
	margin-bottom: 20px;
}

p:last-child {
	margin-bottom: 0;
}

small {
	font-size: var(--font-size-small);
	color: var(--color-gray-dark);
}

a {
	color: var(--color-purple-dark);
	text-decoration: underline;
	transition: color 300ms ease;
}

a:hover, a:focus {
	color: var(--color-purple-darkest);
}

@media all and (min-width: 1025px) {
	h1, h2, h3 {
		margin-bottom: 30px;
	}
}

/*-----------------------------------
- Components
-----------------------------------*/

.button {
	--border-color: var(--color-purple-light);
	--background-color: var(--color-purple-light);
	--color: var(--color-white);
	--hover-border-color: var(--color-purple);
	--hover-background-color: var(--color-purple);
	--hover-color: var(--color-white);

	display: inline-block;
	border: 2px solid var(--border-color);
	border-radius: 7px;
	padding: 10px 20px;
	background-color: var(--background-color);
	font-weight: 500;
	color: var(--color);
	appearance: none;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	transition: border-color 300ms ease,
		background-color 300ms ease,
		color 300ms ease;
}

.button.button-secondary {
	--background-color: var(--color-white);
	--color: var(--color-purple-dark);
}

.button:hover, .button:focus {
	border-color: var(--hover-border-color);
	background-color: var(--hover-background-color);
	color: var(--hover-color);
}

.button.button-large {
	padding: 15px 20px;
	font-size: var(--font-size-h6);
}

@media all and (min-width: 1025px) {
	.button {
		padding-inline: 15px;
	}

	.button-large {
		border-radius: 10px;
		border-width: 3px;
		padding: 20px 30px;
		font-size: var(--font-size-h5);
	}
}